*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    box-shadow: 1px 1px 5px gray;
    background-color: white;
    align-items: center;
}
.anchort{
    text-decoration: none;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
}
.menu li:hover{
    color: #69275c;
    border-bottom: 1px solid #69275c;
    cursor: pointer;
}
.log{
    padding: 8px 10px;
    color: white;
    background-color: #69275c;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
:hover.log{
    box-shadow: 1px 1px 5px #69275c;
    color: white;
}
.write{
    padding: 8px 15px;
    color: white;
    background-color: #69275c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.brand{
    font-weight: bold;
    font-size: 20px;
    color: #69275c;
}
:hover.write{
    box-shadow: 1px 1px 5px #69275c;
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
.window{
    background-color: white;
    width: 61vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
body{
    background-color: #69275c;
}
.rhs{
    margin: 20px;
    margin-right: 5rem;
}
.rhs > img{
    
    height: 45vh;
    width: 25vw;
    border-radius: 5px;
}
.lhs{
    margin: 1.5rem;
    margin-top: 3rem;
}
.lhs > p{
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #69275c;
}
.titlew{
    width: 30vw;
    margin-bottom: 1rem;
    border-radius: 10px;
    color: #69275c;
}
.titlew > input:focus{
    outline: 1px solid white;
}
.name{
    margin-left: 20rem;
    color: #69275c;
}
.readbut > button{
    padding: 7px 10px;
    background-color: #69275c;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}
.readbut :hover{
    box-shadow: 1px 1px 5px #69275c;
}
.readbut >button:focus{
    outline: 1px solid #69275c;
}
.logo > i{
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    color: #69275c;
}



